<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Gerenciador_Pedido_Compras</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Gerenciador_Pedido_Compras.styles.css" asp-append-version="true" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Gerenciador da Empresa</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-nav flex-grow-1">

                    @*Colocar com acesso só de admin*@
                    <ul class="navbar-nav flex-grow-1">


                        <div class="dropdown">
                            <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Gerenciar Usuários
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-area="" asp-controller="Usuarios" asp-action="List">Usuários Cadastrados</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Usuarios" asp-action="Add">Cadastrar Usuários</a></li>

                            </ul>
                            @*Colocar com acesso só de admin*@
                        </div>

                        <a class="btn me-3 text-dark" asp-aria="" asp-controller="Empresas" asp-action="List">Empresas</a>
                        <a class="btn me-3 text-dark" asp-aria="" asp-controller="Estoques" asp-action="List">Estoques</a>
                        <a class="btn me-3 text-dark" asp-aria="" asp-controller="Produtos" asp-action="List">Produtos</a>
                        <a class="btn me-3 text-dark" asp-aria="" asp-controller="Serviços" asp-action="List">Serviços</a>
                    </ul>

                    <div class="d-flex align-items-center">
                        <a class="btn me-3 bg-light text-dark" asp-aria="" asp-controller="Account" asp-action="Register">Cadastrar</a>
                        <a class="btn me-3 bg-light text-dark" asp-aria="" asp-controller="Account" asp-action="Login">Login</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Gerenciador_Pedido_Compras - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
